.App {
    display: grid;
    grid-column-gap: 1em;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 30% 70%;
    grid-template-rows: max-content auto max-content;
    height: 100vh;
    margin: 0 auto;
    max-width: 80em;
}

.App-footer {
    display: flex;
    grid-area: footer;
}

.App-footer .credit {
    flex-grow: 1;
}

.App-footer a {
    color: white;
    font-weight: 999;
}

.App-header {
    grid-area: header;
}

.App-header a {
    background: inherit;
    color: inherit;
    text-decoration: none;
}

.App-main {
    background: white;
    color: var(--rivet-blue);
    grid-area: main;
    overflow-y: scroll;
    padding: var(--padding);
}

.App-nav {
    background: white;
    color: var(--rivet-blue);
    grid-area: nav;
    overflow-y: scroll;
}

.App-nav .create-new {
    margin: var(--padding) 0;
    padding: var(--padding);
    text-align: right;
}

.App-nav .create-new a {
    background: var(--rivet-orange);
    border-radius: 6px;
    color: white;
    padding: var(--padding) calc(2 * var(--padding));
    text-decoration: none;
}

.App-nav .create-new a:hover {
    background: var(--rivet-orange);
}

.App-nav .help {
    padding: var(--padding);
}