:root {
    --padding: 1em;
    --rivet-blue: #002345;
    --rivet-orange: #b6180d;
}

* {
    box-sizing: border-box;
}

body, html {
    background: var(--rivet-blue);
    background: linear-gradient(132deg, var(--rivet-blue) 0.00%, rgb(36, 163, 255) 100.00%);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}